@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

* {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    font-size: 30px;
    border-radius: 0;
    font-family: 'Poiret One', cursive;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-right {
    margin-right: 0;
}

.head-menu {
    padding: 0 6.3%;
}

.footer {
    height: 50px;
    width: 100%;
    background: #2c3e50;
    text-align: center;
    padding: 10px;
}

.footer h4 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #18bc9c;
}

.invite-text {
    font-size: 20px;
    color: #000000;
}

.container {
    padding: 30px 0;
}

.book-list {
    font-size: 20px;

}

.download-button:hover {
    color: #18bc9c;
}

.add-book-content {
    font-size: 20px;
}

.dropdown-menu > li > a {
    font-size: 20px;
}

.modal {
    /*width:300px;*/
}

#loginModal {
    z-index: 9999;
}

.dropdown-menu {
    width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.input-file-button {
    margin-left: 0 !important;
    margin-top: 10px;
}

.upload-icon {
    padding: 5px 10px 5px 0px;
}

.upload-file-label {
    text-align: left !important;
    margin: 0;
    padding: 10px 3px;
}

.toogle-navbar-button{
    position: absolute;
    right: 0;
    top: 0;
}